@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

body {
	font-family: 'Yusei Magic', serif;
	letter-spacing: 1px;
	margin: 0;
	font: 1.5em;
	text-align: center;
	background: #1b1523;
	color: #fff;
}
